[submodule "client"]
	path = client
	url = https://github.com/abhishek-raj/walletconnect-pay-frontend.git
[submodule "server"]
	path = server
	url = https://github.com/abhishek-raj/walletconnect-pay-backend.git
